.free-lesson{
  padding: 30px 0;
  background: #f5f5f5;
  margin-top: 30px;
  .comp-title{
    font-size: 16px;
    letter-spacing: 5px;
    color: #000000;
    padding-left: 200px;
  }
  .comp-list{
    padding: 0px 200px 10px 200px;
    .comp-item{
      width: 22%;
      background: #fff;
      float: left;
      margin-left: 3%;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      .comp-item-fade{
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100px;
        background: rgba(255, 116, 0, 1);
        .curriculum-title{
          padding: 10px 15px 5px 15px;
          color: #fff;
          font-size: 14px;
        }
        .curriculum-cont{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
        .curriculum-cont2{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .comp-item:nth-child(1){
      margin-left: 0;
    }
    .comp-item:hover{
      margin-top: 27px;
      box-shadow: 0px 10px 18px 0px
      rgba(0, 0, 0, 0.18);
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -ms-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      .comp-item-fade{
        bottom: 0;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
  }
  .comp-list2{
    padding: 20px 200px 10px 200px;
    .list-title{
      font-size: 16px;
      letter-spacing: 5px;
      color: #000000;
      margin-bottom: 20px;
    }
    .comp-item2{
      width: 22%;
      background: #fff;
      float: left;
      margin-left: 3%;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      .comp-item-fade{
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100px;
        background: rgba(255, 116, 0, 1);
        .curriculum-title{
          padding: 10px 15px 5px 15px;
          color: #fff;
          font-size: 14px;
        }
        .curriculum-cont{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
        .curriculum-cont2{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .comp-item2:nth-child(2){
      margin-left: 0;
    }
    .comp-item2:hover{
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -ms-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      margin-top: -3px;
      box-shadow: 0px 10px 18px 0px
      rgba(0, 0, 0, 0.18);
      .comp-item-fade{
        bottom: 0;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
  }
  .comp-list3{
    padding: 10px 200px 10px 200px;
    .list-title{
      font-size: 16px;
      letter-spacing: 5px;
      color: #000000;
      margin-bottom: 20px;
    }
    .comp-item3{
      width: 22%;
      background: #fff;
      float: left;
      margin-left: 3%;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      .comp-item-fade{
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100px;
        background: rgba(255, 116, 0, 1);
        .curriculum-title{
          padding: 10px 15px 5px 15px;
          color: #fff;
          font-size: 14px;
        }
        .curriculum-cont{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
        .curriculum-cont2{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .comp-item3:nth-child(2){
      margin-left: 0;
    }
    .comp-item3:hover{
      margin-top: -3px;
      box-shadow: 0px 10px 18px 0px
      rgba(0, 0, 0, 0.18);
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -ms-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      .comp-item-fade{
        bottom: 0;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
  }
  .seeMore{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .seeMore:hover{
    color: #00c1de;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
}
.six-hidden{/*//第2行。。。*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
