<template>
   <div class="free-lesson">
     <div class="comp-title">
       {{FreeLessonTitle}}
     </div>
     <div class="comp-list clearfix">
       <div class="comp-item" v-for="(item,index) in comp_list">
         <!--{{index + 1}}:{{item.t}}-->
         <img :src="item.p" width="100%" height="100%">
         <div class="comp-item-fade">
           <div class="curriculum-title">
             {{item.t}}
           </div>
           <div class="curriculum-cont clearfix">
             <span style="float:left;">入门</span>
             <span style="float:left;margin-left: 10px;">PHP</span>
             <span style="float: right;">
              <span>1000</span>人
            </span>
           </div>
           <div class="curriculum-cont2 six-hidden">
             南地区范围内激吻 if new if 价位附近为服务你发请带我去打球驱动器七点期待我的期待我的
           </div>
         </div>
       </div>
     </div>
     <div class="comp-list2 clearfix">
       <div class="list-title">
         前端～～～～～～
       </div>
       <div class="comp-item2" v-for="(item2,index) in comp_list">
         <!--{{index + 1}}:{{item.t}}-->
         <img :src="item2.p" width="100%" height="100%">
         <div class="comp-item-fade">
           <div class="curriculum-title">
             {{item2.t}}
           </div>
           <div class="curriculum-cont clearfix">
             <span style="float:left;">入门</span>
             <span style="float:left;margin-left: 10px;">PHP</span>
             <span style="float: right;">
              <span>1000</span>人
            </span>
           </div>
           <div class="curriculum-cont2 six-hidden">
             南地区范围内激吻 if new if 价位附近为服务你发请带我去打球驱动器七点期待我的期待我的
           </div>
         </div>
       </div>
     </div>
     <div class="comp-list3 clearfix">
       <div class="list-title">
         前端～～～～～～
       </div>
       <div class="comp-item3" v-for="(item3,index) in comp_list">
         <!--{{index + 1}}:{{item.t}}-->
         <img :src="item3.p" width="100%" height="100%">
         <div class="comp-item-fade">
           <div class="curriculum-title">
             {{item3.t}}
           </div>
           <div class="curriculum-cont clearfix">
             <span style="float:left;">入门</span>
             <span style="float:left;margin-left: 10px;">PHP</span>
             <span style="float: right;">
              <span>1000</span>人
            </span>
           </div>
           <div class="curriculum-cont2 six-hidden">
             南地区范围内激吻 if new if 价位附近为服务你发请带我去打球驱动器七点期待我的期待我的
           </div>
         </div>
       </div>
     </div>
     <div class="seeMore">
       查看更多···
     </div>
   </div>
</template>

<script>
export default {
  name: 'free-lesson',
  props: {
    FreeLessonTitle: {
      type: String
    }
  },
  data () {
    return {
      // 测试数据
      comp_list: [
        {
          t: '123',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        }
      ]
    }
  },
  created () {},
  mounted () {}
}
</script>

<style lang="less" scoped>
 @import "free-lesson";
</style>
