<template>
  <div class="header-page clearfix">

    <div class="dycon-logo">
      <img :src="logo">
    </div>
    <div class="dycon-menu">
      <ul>
        <Input search placeholder="主页...？？？"
               size="default"
               style="width: 140px;background-color: rgba(0,0,0,0);border-radius: 50px;"
        />
        <li @click="gotoMainPage"><Icon type="ios-home-outline" size="15"/>&nbsp;戴科IT网</li>
        <li><Icon type="md-laptop" size="15"/>&nbsp;免费课程</li>
        <li><Icon type="ios-school" size="15"/>&nbsp;精品实战</li>
        <Divider type="vertical" />
        <li><Icon type="ios-contact-outline" size="15"/>&nbsp;登录/注册</li>
        <!--<li><Icon type="ios-construct" size="15"/>&nbsp;综合设置</li>-->
      </ul>
      <!--<Menu mode="horizontal" theme="dark" active-name="1" accordion="true">-->
        <!--<MenuItem name="1">-->
          <!--<Icon type="ios-home-outline" />-->
          <!--主页-->
        <!--</MenuItem>-->
        <!--<MenuItem name="2">-->
          <!--<Icon type="ios-planet" />-->
          <!--免费课程-->
        <!--</MenuItem>-->
        <!--<MenuItem name="3">-->
          <!--<Icon type="ios-planet-outline" />-->
          <!--实战课程-->
        <!--</MenuItem>-->
        <!--<MenuItem name="4">-->
          <!--<Icon type="ios-contact-outline" />-->
          <!--登录/注册-->
        <!--</MenuItem>-->
        <!--<MenuItem name="5">-->
          <!--<Icon type="ios-construct" />-->
          <!--综合设置-->
        <!--</MenuItem>-->
      <!--</Menu>-->
    </div>
  </div>
</template>

<script>

import logo from '../../assets/images/dycon/daike333.png'

export default {
  name: 'header-page',
  props: {
    pagejumpType: {
      type: String
    }
  },
  data () {
    return {
      // 图片
      logo: logo,
      // iview
      theme1: 'light'
    }
  },
  created () {},
  mounted () {},
  methods: {
    gotoMainPage () {
      const that = this
      const routerUrl = '/main-page'
      that.$router.push({ path: routerUrl, params: { }, query: {} })
    }
  }
}
</script>

<style lang="less" scoped>
 @import "header-page";
</style>
