.header-page{
  width: 100%;
  padding: 2px 50px;
  background: #1d2224;
  opacity: .9;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 19940727;
  .dycon-logo{
    float: left;
    margin-left: 50px;
    width: 130px;
    height: 35px;
    margin-top: 11px;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .dycon-logo:hover{
    width: 132.6px;
    height: 35.7px;
    margin-top: 9px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
  }
  .dycon-menu{
    float: right;
    margin-right: 50px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    ul{
      li{
        display: inline;
        padding: 0 5px;
        line-height: 60px;
        color: #ffffff;
        cursor: pointer;
      }
      li:hover{
        color: #00c1de;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
  }
}
.clearfix:after {   /*子元素浮动撑开父元素*/
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
input{
  border-radius: 50px!important;
}
