<template>
  <div class="main-page">
    <Headers :pagejumpType="pagejumpType"/>
    <BackTop></BackTop>
    <div class="mainbox paddingTop60px">
      <!--轮播图-->
      <div class="bannerbox">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img :src="bgImg" alt="" width="100%" height="100%">
            </div>
            <div class="swiper-slide">
              <div class="fuck" style="width: 100%;height: 100%;background:#000;"></div>
              <!--<img :src="logo" alt="" width="100%" height="100%">-->
            </div>
            <div class="swiper-slide">
              <div class="fuck" style="width: 100%;height: 100%;background:red;"></div>
              <!--<img :src="bigLogo" alt="" width="100%" height="100%">-->
            </div>
          </div>
          <!-- 如果需要分页器 -->
          <div class="swiper-pagination"></div>

          <!-- 如果需要导航按钮 -->
          <!--<div class="swiper-button-prev"></div>-->
          <!--<div class="swiper-button-next"></div>-->

          <!-- 如果需要滚动条 -->
          <!--<div class="swiper-scrollbar"></div>-->
        </div>
      </div>
      <!--内容部分-->
      <div class="bookContent">
        <!--限时特惠-->
        <TimeLimited :TimeLimitedTitle="TimeLimitedTitle"></TimeLimited>
        <!--精品免费-->
        <FreeLesson :FreeLessonTitle="FreeLessonTitle"></FreeLesson>
        <!--干活实战课-->
        <ActualCombat :ActualCombatTitle="ActualCombatTitle"></ActualCombat>
        <!--谈论区-->
        <DiscussionArea :DiscussionAreaTitle="DiscussionAreaTitle"></DiscussionArea>
      </div>
    </div>
    <Footers></Footers>
  </div>
</template>

<script>

import Headers from '../header-page/header-page'
import Footers from '../footer-page/footer-page'
import TimeLimited from './components/time-limited/time-limited'
import FreeLesson from './components/free-lesson/free-lesson'
import ActualCombat from './components/actual-combat/actual-combat'
import DiscussionArea from './components/discussion-area/discussion-area'

import Swiper from 'swiper'
import 'swiper/dist/css/swiper.css'

import bgImg from '../../assets/images/dycon/mei-li-xing-kong.gif'

export default {
  name: 'main-page',
  components: { // 添加组件
    Headers,
    Footers,
    TimeLimited,
    FreeLesson,
    ActualCombat,
    DiscussionArea
  },
  data () {
    return {
      // 页面参数
      pagejumpType: '主页',
      TimeLimitedTitle: '站内热点/限时优惠',
      FreeLessonTitle: '精品免费课',
      ActualCombatTitle: '干货实战课',
      DiscussionAreaTitle: '讨论区',
      bgImg: bgImg
    }
  },
  created () {
    // 屏幕滚动高度初始化
    document.documentElement.scrollTop = 0
  },
  mounted () {
    const that = this
    setTimeout(function () {
      that.newswiper()
    }, 300)
  },
  methods: {
    newswiper () {
      var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        // 如果需要分页器
        // pagination: {
        //   el: '.swiper-pagination',
        // },

        // 如果需要前进后退按钮
        // navigation: {
        //   nextEl: '.swiper-button-next',
        //   prevEl: '.swiper-button-prev'
        // },

        // 如果需要滚动条
        // scrollbar: {
        //   el: '.swiper-scrollbar'
        // },

        // 分页效果
        effect: 'fade',

        // 自动切换
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false
        },

        // 循环
        loop: true
      })
    }
  }

}
</script>

<style lang="less" scoped>
  @import "main-page";
</style>
