.discussion-area{
  padding: 30px 0 50px 0;
  background: #f5f5f5;
  margin-top: 30px;
  .comp-title{
    font-size: 16px;
    letter-spacing: 5px;
    color: #000000;
    padding-left: 200px;
  }
  .discussion-area-content{
    margin-top: 30px;
    padding: 0 200px;
    .discussion-area-item{
      width: 30%;
      height: 500px;
      border-radius: 10px;
      //background: #000;
      float: left;
      margin-right: 5%;
      overflow: hidden;
      .discussion-top{
        width: 100%;
        height: 150px;
        background: linear-gradient(to right bottom,#fea220,#fec85c);
        line-height: 150px;
        font-size: 18px;
        letter-spacing: 7px;
        color: #fefefe;
        text-align: center;
        cursor: pointer;
      }
      .discussion-top:hover{
        color: #5798ff;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      .discussion-bottom{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom,#fea220,#fec85c);
        padding: 50px 40px 20px 40px;
        .discussion-item{
          padding: 5px 0;
          font-size: 14px;
          text-align: left;
          color: #fff;
          cursor: pointer;
        }
        .discussion-item:hover{
          color: #00c1de;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }
      }
    }
    .discussion-area-item:nth-child(0){
      margin-right: 0;
    }
    .discussion-area-item:hover,.discussion-area-item2:hover,.discussion-area-item3:hover{
      margin-top: -3px;
      box-shadow: 0px 10px 18px 0px
      rgba(0, 0, 0, 0.18);
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -ms-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
    }
    .discussion-area-item2{
      width: 30%;
      height: 500px;
      border-radius: 10px;
      //background: #000;
      float: left;
      margin-right: 5%;
      overflow: hidden;
      .discussion-top{
        width: 100%;
        height: 150px;
        background: linear-gradient(to right bottom,#22448f,#346ab2);
        line-height: 150px;
        font-size: 18px;
        letter-spacing: 7px;
        color: #fefefe;
        text-align: center;
        cursor: pointer;
      }
      .discussion-top:hover{
        color: #ba3c00;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      .discussion-bottom{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom,#2b57b6,#458ce8);
        padding: 50px 40px 20px 40px;
        .discussion-item{
          padding: 5px 0;
          font-size: 14px;
          text-align: left;
          color: #fff;
          cursor: pointer;
        }
        .discussion-item:hover{
          color: #00c1de;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }
      }
    }
    .discussion-area-item2:nth-child(0){
      margin-right: 0;
    }
    .discussion-area-item3{
      width: 30%;
      height: 500px;
      border-radius: 10px;
      //background: #000;
      float: left;
      overflow: hidden;
      .discussion-top{
        width: 100%;
        height: 150px;
        background: linear-gradient(to right bottom,#c33e3c,#c85c59);
        line-height: 150px;
        font-size: 18px;
        letter-spacing: 7px;
        color: #fefefe;
        text-align: center;
        cursor: pointer;
      }
      .discussion-top:hover{
        color: #dec616;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      .discussion-bottom{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom,#f84f4c,#fe7774);
        padding: 50px 40px 20px 40px;
        .discussion-item{
          padding: 5px 0;
          font-size: 14px;
          text-align: left;
          color: #fff;
          cursor: pointer;
        }
        .discussion-item:hover{
          color: #00c1de;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
        }
      }
    }
    .discussion-area-item3:nth-child(0){
      margin-right: 0;
    }
  }
}
.six-hidden{/*//第2行。。。*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
