<template>
  <div class="discussion-area">
    <div class="comp-title">
      {{DiscussionAreaTitle}}
    </div>
    <div class="discussion-area-content clearfix">
      <div class="discussion-area-item">
        <div class="discussion-top" @click="gotoDiscussionAreaPage">
          激烈讨论区一
        </div>
        <div class="discussion-bottom">
          <div class="discussion-item" v-for="(item,index) in comp_list">
            · {{item.t}}
          </div>
        </div>
      </div>
      <div class="discussion-area-item2">
        <div class="discussion-top" @click="gotoDiscussionAreaPage">
          激烈讨论区二
        </div>
        <div class="discussion-bottom">
          <div class="discussion-item" v-for="(item,index) in comp_list">
            · {{item.t}}
          </div>
        </div>
      </div>
      <div class="discussion-area-item3">
        <div class="discussion-top" @click="gotoDiscussionAreaPage">
          激烈讨论区三
        </div>
        <div class="discussion-bottom">
          <div class="discussion-item" v-for="(item,index) in comp_list">
            · {{item.t}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'discussion-area',
  props: {
    DiscussionAreaTitle: {
      type: String
    }
  },
  data () {
    return {
      // 测试数据
      comp_list: [
        {
          t: '123wqdqwd dqwdwqdw',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123qdwqdqdqw',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123qwdqwqdqwdcsdc',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123scddcaqfqfqwf',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123acsacacasca',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: 'v dsvefqwfqwfqf',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123accascacascvv',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '12dwqdqdwqdwdqsaca3',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        }
      ]
    }
  },
  created () {},
  mounted () {},
  methods: {
    gotoDiscussionAreaPage () {
      const that = this
      const routerUrl = '/main-page/discussion-area-page'
      that.$router.push({ path: routerUrl, params: { }, query: {} })
    }
  }
}
</script>

<style lang="less" scoped>
 @import "discussion-area";
</style>
