six-transition500{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
six-transition700{
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
six-transition1000{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
six-transition300{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.six-ellipsis{ /*超出...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.six-clearfix:after {   /*子元素浮动撑开父元素*/
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.six-mainbox{
  padding: 20px 30px;
  margin-top: 60px;
}
