.index-page{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .videoBox{
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    video{
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 1;
    }
    .fadeVideo{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(111, 158, 234, 0.13);
      z-index: 2;
    }
  }
  .header{
    width: 100%;
    height: 60px;
    background: #1c2327;
    opacity: 0;
    box-shadow:0 0 5px #000 inset;
    .dycon-logo{
      float: left;
      margin-left: 50px;
      width: 130px;
      height: 35px;
      margin-top: 11px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .dycon-logo:hover{
      width: 132.6px;
      height: 35.7px;
      margin-top: 9px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
    .dycon-menu{
      float: right;
      margin-right: 50px;
      font-size: 16px;
      font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
      ul{
        li{
          display: inline;
          padding: 0 10px;
          line-height: 60px;
          color: #ffffff;
          cursor: pointer;
        }
        li:hover{
          color: #00c1de;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }
    }
  }
  .header:hover{
    opacity: .9;
  }
  .mainbox{
    width: 280px;
    height: 250px;
    margin: 0 auto;
    margin-top: 70px;
    z-index: 1;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }
  }
  .goin-btn{
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
  }
  .footer{
    position: fixed;
    bottom: 5px;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .isPhone{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50% 40px 0 40px;
    background: rgba(23, 35, 61, 0.85);
    z-index: 19940727;
  }
}
.six-transitionAll{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

