<template>
  <div class="index-page">
    <!--:style="{'background':'url('+bgImg+') no-repeat 0 0/100% 100%'}"-->
    <div class="videoBox">
      <video :src="bgVideo" autoplay loop muted @canplaythrough="videoOK()"></video>
      <div class="fadeVideo"></div>
    </div>
    <!--header-->
    <div class="header six-transitionAll">
      <div class="dycon-logo">
        <img :src="logo">
      </div>
      <div class="dycon-menu">
        <ul>
          <li><Icon type="ios-home-outline" size="25"/>进入主页</li>
          <li><Icon type="ios-contact-outline" size="25"/>登录/注册</li>
        </ul>
      </div>
    </div>
    <!--main-->
    <div class="mainbox">
      <img :src="big_logo">
    </div>
    <div class="goin-btn">
      <Button type="default" ghost long size="large" @click="gotoMainPage">点我前往</Button>
      <!--<Poptip trigger="hover" title="戴科科技" content="创造你的梦想" width="100%" placement="right-start">-->
        <!--<Button type="dashed" ghost long size="large">点我前往</Button>-->
      <!--</Poptip>-->
    </div>
    <!--footer-->
    <div class="footer">
      <span>
        © 陕西戴科科技有限公司 版权所有 ️2019 陕ICP备18012978号
      </span>
    </div>
    <Spin fix v-if="loading_show">
      <Icon type="ios-loading" size=35 class="demo-spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
    <div class="isPhone" v-if="isPhone">
      <Alert type="error">
        喔哦～～～万分抱歉！
        <span slot="desc">
            请使用电脑端打开本网站哦～ <Icon type="ios-ice-cream-outline" size="16"/>
        </span>
      </Alert>
    </div>
  </div>
</template>

<script>

import bgImg from '../../assets/images/dycon/mei-li-xing-kong.gif'
import logo from '../../assets/images/dycon/daike333.png'
import bigLogo from '../../assets/images/dycon/dyconLogoO pacity 0.png'

import api from '../api/dycon-api'

export default {
  name: 'index-page',
  data () {
    return {
      // 图片
      bgImg: bgImg,
      logo: logo,
      big_logo: bigLogo,
      bgVideo: 'http://mfdlau-bucket.oss-cn-beijing.aliyuncs.com/home/oss/dycon/video/videobg-1.mp4',
      // 页面参数
      loading_show: false,
      isPhone: false
    }
  },
  created () {
    const that = this
    // 判断是否为PC
    console.log(that.isPC(), 'that.isPC()')
    if (!that.isPC()) {
      that.isPhone = true
    }

    that.login_()
    that.loading_show = true
  },
  methods: {
    login_ () {
      api.login({

      }).then(data => {
        console.log(data)
      })
    },
    gotoMainPage () {
      const that = this
      const routerUrl = '/main-page'
      that.$router.push({ path: routerUrl, params: { }, query: {} })
    },
    videoOK () {
      const that = this
      console.log('videoOK')
      that.loading_show = false
    },
    isPC () {
      const userAgentInfo = navigator.userAgent
      const Agents = ['Android', 'iPhone',
        'SymbianOS', 'Windows Phone',
        'iPad', 'iPod']
      var flag = true
      for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
          flag = false
          break
        }
      }
      return flag
    }
  }
}
</script>

<style lang="less" scoped>
 @import "index-page";
</style>
