<template>
  <div class="discussion-area-page">
    <Headers></Headers>
      <div class="mainbox clearfix">
        <!--左侧菜单-->
        <div class="leftbox">
          <!--签到-->
          <div class="qiandaobox default-box-div">
            <div class="qiandaobox-date-and-num clearfix">
              <span class="q-date">
                {{today_date}}
              </span>
              <span class="q-num">
                已签到&nbsp;
                <span style="color: orange;">1</span>
                &nbsp;次
              </span>
            </div>
            <div class="qiandao-btn">
              <Button long size="default">签到</Button>
            </div>
          </div>
          <!--我要发帖/提问-->
          <div class="post-and-question default-box-div" @click="faTie_show = true">
            我要发帖 / 提问
          </div>
          <!--推荐板块-->
          <div class="recommended-plate default-box-div">
            <div class="r-p-title">
              板块推荐
            </div>
            <div class="r-p-mainbox">
              <div class="r-p-key-val" v-for="(item_max,index) in text_data">
                <div class="r-p-key">
                  <Tooltip content="点击切换右侧板块" placement="bottom-end">
                    <div class="r-p-key-title">
                      <Divider>{{item_max.t}}</Divider>
                    </div>
                  </Tooltip>
                </div>
                <div class="r-p-val">
                  <div class="r-p-item clearfix" v-for="(item,index) in item_max.type">
                    <div class="r-p-t six-ellipsis">{{item.t}}</div>
                    <div class="see-num">
                      <Icon type="ios-eye" />
                      &nbsp;233
                    </div>
                    <br>
                    <Divider dashed />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--右侧内容-->
        <div class="rightbox">
          <div class="cont-mainbox default-box-div">
            <div class="cont-top-bar">
              <Menu mode="horizontal" theme="light" active-name="1">
                <MenuItem name="1">
                  <Icon type="ios-paper" />
                  热门精品
                </MenuItem>
                <MenuItem name="2">
                  <Icon type="ios-people" />
                  专业问答
                </MenuItem>
                <Button icon="ios-search" style="float: right;">Search</Button>
                <Input
                  suffix="ios-search"
                  placeholder="Enter text"
                  style="width: auto;float: right;margin-right: 10px"
                />
              </Menu>
              <div class="cont-top-bar-num clearfix">
                <div class="today-post-num">今日发帖：100</div>
                <div class="history-num-max">历史最高：101</div>
                <div class="year-all-num">年度总贴： 10W+</div>
              </div>
            </div>
            <!--内容列表-->
            <div class="cont-main-list default-box-div">
              <div class="cont-main-list-key">
                学习讨论区 / 热门精品贴
              </div>
              <div class="cont-main-list-val clearfix">
                <div class="cont-main-list-item">
                  <div class="c-m-l-item-headimg">
                    <div class="img-box">
                      <img src="https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png" width="100%" height="100%">
                    </div>
                  </div>
                  <div class="c-m-l-item-cont">
                    <div class="c-m-l-item-cont-top clearfix">
                      <div class="c-m-l-item-cont-title six-ellipsis">
                        efewf非服务费分为服务费为访问啊擦擦无法区分
                      </div>
                      <!--预留精-->
                    </div>
                    <div class="c-m-l-item-cont-bottom clearfix">
                      <div class="c-m-l-item-cont-bottom-username">
                        王大锤
                      </div>
                      <div class="c-m-l-item-cont-bottom-createdate">
                        2019年12月23日
                      </div>
                      <div class="see-num">
                        <Icon type="ios-eye" />
                        &nbsp;233
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Modal
          v-model="faTie_show"
          title="我要发帖 / 提问"
          :loading="loading"
          @on-ok="asyncOK">
          <b>
            选择板块：
            <Select v-model="model1" style="width:200px;">
              <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <RadioGroup v-model="fatie_type">
              <Radio label="帖子标题">
                <span>发帖</span>
              </Radio>
              <Radio label="你滴问题">
                <span>提问</span>
              </Radio>
            </RadioGroup>
          </b>
          <Divider />
          <Input v-model="ft_title" :placeholder='"请一句话说明" + fatie_type' style="width: 300px" />
          <br>&nbsp;&nbsp;
          <div style="color: red;" v-if="ft_title.length < 5">标题不得少于5个汉字</div>
          <div class="fuWenBen">
            <UE :defaultMsg=defaultMsg :config=config :id=ue1 ref="ue"></UE>
            <!--<button @click="getUEContent()">获取内容</button>-->
          </div>
        </Modal>
      </div>
    <Footers></Footers>
  </div>
</template>

<script>

import Headers from '../../../header-page/header-page'
import Footers from '../../../footer-page/footer-page'
import UE from '../components/UE'

export default {
  name: 'discussion-area-page',
  components: { // 添加组件
    Headers,
    Footers,
    UE
  },
  data () {
    return {
      // 测试参数
      text_data: [
        {
          t: '学习讨论区',
          type: [
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'}
          ]
        },
        {
          t: '蹲坑睡觉区',
          type: [
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'}
          ]
        },
        {
          t: '我也不知道区',
          type: [
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'},
            {t: 'a俄方为服务为访问驱动器我的'}
          ]
        }
      ],
      cityList: [
        {
          value: 0,
          label: '是的期望板块'
        },
        {
          value: 1,
          label: '驱蚊器板块'
        },
        {
          value: 2,
          label: '是补习板块'
        },
        {
          value: 3,
          label: '睡不醒板块'
        },
        {
          value: 4,
          label: '吃不饱板块'
        },
        {
          value: 5,
          label: '玩不够板块'
        }
      ],
      model1: '',
      fatie_type: '帖子标题',
      // 页面参数
      today_date: '',
      faTie_show: false,
      loading: true,
      ft_title: '',
      // UE
      defaultMsg: '<span style="orphans: 2; widows: 2; font-size: 22px; font-family: KaiTi_GB2312;"><strong>戴科IT网牛皮成CZ了</strong></span>',
      config: {
        initialFrameWidth: null,
        initialFrameHeight: 350
      },
      ue1: 'ue1' // 不同编辑器必须不同的id
    }
  },
  created () {
    const that = this
    // 获取当前日期
    that.today_date = that.getToday_date()
    // 屏幕滚动高度初始化
    document.documentElement.scrollTop = 0
  },
  mounted () {},
  methods: {
    getToday_date () {
      const d = new Date()
      const str = d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日'
      return str
    },
    asyncOK () {
      const that = this
      that.getUEContent()
      setTimeout(() => {
        this.faTie_show = false
      }, 2000)
    },
    getUEContent () {
      let content = this.$refs.ue.getUEContent() // 调用子组件方法
      console.log(content)
    }
  }
}
</script>

<style lang="less" scoped>
 @import "discussion-area-page";
</style>
<style scoped>
  .top,.bottom{
    text-align: center;
  }
  .center{
    width: 300px;
    margin: 10px auto;
    overflow: hidden;
  }
  .center-left{
    float: left;
  }
  .center-right{
    float: right;
  }
</style>
