.discussion-area-page{
  background: #373d41;
  padding: 1px;
  .mainbox{
    padding: 20px 30px;
    margin-top: 60px;
    .leftbox{
      width: 20%;
      float: left;
      .qiandaobox{
        .qiandaobox-date-and-num{
          .q-date{
            float: left;
          }
          .q-num{
            float: right;
          }
        }
        .qiandao-btn{
          margin-top: 30px;
        }
      }
      .post-and-question{
        margin-top: 20px;
        padding: 10px 25px;
        background: #fff;
        border-radius: 8px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
      }
      .post-and-question:hover{
        font-size: 14.5px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
      .recommended-plate{
        min-height: 500px;
        margin-top: 20px;
        .r-p-title{
          padding: 10px 20px;
          text-align: center;
          border-radius: 5px;
          background: #9e9e9e;
        }
        .r-p-mainbox{
          height: 500px;
          overflow-y: auto;
          overflow-x: hidden;
          margin-top: 20px;
          .r-p-key{
            cursor: pointer;
          }
          .r-p-key:hover{
            .ivu-divider-horizontal.ivu-divider-with-text-center, .ivu-divider-horizontal.ivu-divider-with-text-left, .ivu-divider-horizontal.ivu-divider-with-text-right{
              color: #00c1de;
              -webkit-transition: all .7s;
              -moz-transition: all .7s;
              -ms-transition: all .7s;
              -o-transition: all .7s;
              transition: all .7s;
            }
          }
          .r-p-val{
            text-align: left;
            font-size: 13px;
            .r-p-item{
              position: relative;
              .r-p-t{
                width: 70%;
                float: left;
                cursor: pointer;
              }
              .see-num{
                float: right;
              }
            }
          }
        }
      }
    }
    .rightbox{
      width: 78%;
      float: right;
      .cont-mainbox{
        .cont-top-bar-num{
          margin-top: 10px;
          .today-post-num{
            float: left;
          }
          .history-num-max{
            float: left;
            margin-left: 50px;
          }
          .year-all-num{
            float: left;
            margin-left: 50px;
          }
        }
        .cont-main-list{
          border: 1px solid #dcdcdc;
          margin-top: 30px;
          .cont-main-list-key{
            text-align: left;
            font-size: 16px;
            font-weight: bold;
          }
          .cont-main-list-val{
            margin-top: 20px;
            .cont-main-list-item{
              float: left;
              width: 47%;
              padding: 10px 20px;
              border: 1px solid #dcdcdc;
              border-radius: 10px;
              margin-right: 6%;
              margin-top: 20px;
              .c-m-l-item-headimg{
                float: left;
                width: 20%;
                border-right: 1px solid #dcdcdc;
                .img-box{
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;

                }
              }
              .c-m-l-item-cont{
                float: left;
                width: 80%;
                .c-m-l-item-cont-top{
                  padding-left: 20px;
                  .c-m-l-item-cont-title{
                    width: 60%;
                    font-size: 14px;
                    cursor: pointer;
                  }
                  .c-m-l-item-cont-title:hover{
                    color: #00c1de;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    text-decoration: underline;
                  }
                }
                .c-m-l-item-cont-bottom{
                  padding-left: 20px;
                  margin-top: 20px;
                  .c-m-l-item-cont-bottom-username{
                    float: left;
                  }
                  .c-m-l-item-cont-bottom-createdate{
                    float: left;;
                    margin-left: 20px;
                  }
                  .see-num{
                    float: right;
                  }
                }
              }
            }
            .cont-main-list-item:nth-child(2n){
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.default-box-div{
  padding: 20px 25px;
  background: #fff;
  border-radius: 8px;
}
.six-ellipsis{ /*超出...*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
