<template>
  <div class="time-limited">
    <div class="comp-title">
      {{TimeLimitedTitle}}
    </div>
    <div class="comp-list clearfix">
      <div class="comp-item" v-for="(item,index) in comp_list">
        <!--{{index + 1}}:{{item.t}}-->
        <img :src="item.p" width="100%" height="100%">
        <div class="comp-item-fade">
          <div class="curriculum-title">
            {{item.t}}
          </div>
          <div class="curriculum-cont clearfix">
            <span style="float:left;">入门</span>
            <span style="float:left;margin-left: 10px;">PHP</span>
            <span style="float: right;">
              <span>1000</span>人
            </span>
          </div>
          <div class="curriculum-cont2 six-hidden">
            南地区范围内激吻 if new if 价位附近为服务你发请带我去打球驱动器七点期待我的期待我的
          </div>
        </div>
      </div>
    </div>
    <div class="comp-cont clearfix">
      <div class="comp-contbox" v-for="(item2,index) in cont_list">
        <div class="cont-title">
          {{item2.t}}
        </div>
        <div class="cont-item" v-for="(item21,index) in item2.c_list">
          · {{item21.t}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import bigLogo from '../../../../assets/images/dycon/dyconLogoO pacity 0.png'

export default {
  name: 'time-limited',
  props: {
    TimeLimitedTitle: {
      type: String
    }
  },
  data () {
    return {
      // 测试数据
      comp_list: [
        {
          t: '123牛皮课',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123吊炸天课',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123炫酷课',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        },
        {
          t: '123赞的一批',
          p: 'https://bourbonlau.cn/upload/icon/wxProject/jiajianimg/jisuanqi.png'
        }
      ],
      cont_list: [
        {
          t: '前端',
          c_list: [
            {
              t: '阿迪伟大当前晚点去单位'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            }
          ]
        },
        {
          t: '前端',
          c_list: [
            {
              t: '阿迪伟大当前晚点去单位'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            }
          ]
        },
        {
          t: '前端',
          c_list: [
            {
              t: '阿迪伟大当前晚点去单位'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            }
          ]
        },
        {
          t: '前端',
          c_list: [
            {
              t: '阿迪伟大当前晚点去单位'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            },
            {
              t: 'dqdwqdw dqwd q'
            }
          ]
        }
      ],
      // 页面参数
      bigLogo: bigLogo
    }
  },
  created () {
    console.log(this.comp_list)
  }
}
</script>

<style lang="less" scoped>
 @import "time-limited";
</style>
