.time-limited{
  padding: 30px 0;
  background: #f5f5f5;
  .comp-title{
    font-size: 16px;
    letter-spacing: 5px;
    color: #000000;
    padding-left: 200px;
  }
  .comp-list{
    padding: 20px 200px 10px 200px;
    .comp-item{
      width: 22%;
      background: #fff;
      float: left;
      margin-left: 3%;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      .comp-item-fade{
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100px;
        background: rgba(255, 116, 0, 1);
        .curriculum-title{
          padding: 10px 15px 5px 15px;
          color: #fff;
          font-size: 14px;
        }
        .curriculum-cont{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
        .curriculum-cont2{
          padding: 0 15px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
    .comp-item:nth-child(1){
      margin-left: 0;
    }
    .comp-item:hover{
      margin-top: -3px;
      box-shadow: 0px 10px 18px 0px
      rgba(0, 0, 0, 0.18);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      .comp-item-fade{
        bottom: 0;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
  }
  .comp-cont{
    padding: 10px 200px;
    .comp-contbox{
      width: 22%;
      float: left;
      margin-left: 3%;
      border-radius: 10px;
      .cont-title{
        font-size: 13px;
        letter-spacing: 5px;
        color: #000000;
        margin-bottom: 10px;
      }
      .cont-item{
        font-size: 10px;
        margin-top: 3px;
        cursor: pointer;
      }
      .cont-item:hover{
        color: #00c1de;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
    }
    .comp-contbox:nth-child(1){
      margin-left: 0;
    }
  }
}
.six-hidden{/*//第2行。。。*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
