<template>
  <div id="app">
    <router-view/>
    <!--<div class="loadingBox">-->
      <!--<div class="loadingSvg">-->
        <!--<img src="./assets/images/dycon/Bars-1s-200px.svg" width="100%" height="100%">-->
      <!--</div>-->
      <!--<div class="loadinText">-->
        <!--loading···-->
      <!--</div>-->
    <!--</div>-->
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*text-align: center;*/
    /*color: #2c3e50;*/
    /*margin-top: 60px;*/
  }
  .loadingBox{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .loadingSvg{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 23%;
  }
  .loadinText{
    text-align: center;
    font-size: 20px;
  }
  .ivu-poptip{
    width: 100%!important;
  }
  .ivu-poptip-rel{
    width: 100%!important;
  }
  .top,.bottom{
    text-align: center;
  }
  .center{
    width: 300px;
    margin: 10px auto;
    overflow: hidden;
  }
  .center-left{
    float: left;
  }
  .center-right{
    float: right;
  }
  .paddingTop60px{
    padding-top: 60px;
  }
  .clearfix:after {   /*子元素浮动撑开父元素*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
  }
  @keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
  }
  .demo-spin-col{
    height: 100px;
    position: relative;
    border: 1px solid #eee;
  }
  .ivu-input{
    background-color: rgba(0,0,0,0) !important;
    border-radius: 50px!important;
  }
  .six-hidden{/*//第2行。。。*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .ivu-select-dropdown{
    z-index: 1010;
  }
</style>
