.footer-page{
  width: 100%;
  height: 300px;
  background: #1d2224;
  position: relative;
  .footer{
    position: absolute;
    bottom: 5px;
    left: 0;
    text-align: center;
    width: 100%;
  }
}
