<template>
  <div class="footer-page">
    <!--footer-->
    <div class="footer">
      <span>
        © 陕西戴科科技有限公司 版权所有 ️2019 陕ICP备18012978号
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'footer-page'
}
</script>

<style lang="less" scoped>
 @import "footer-page";
</style>
